*{
	margin : 0;
	padding: 0;
	box-sizing : border-box;
}
body{
	font-family : sans-serif;
	
}
body{
	overflow-y: scroll;
}
body::-webkit-scrollbar {
	display: none;
}
/* Tao khung menu */
.menu_bar{
	background-color:#FFFFCC;
	height: 170px;
	width : 100%;
	display : flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}
.Logo a{
	color : #000000;
	font-size :30px;
	text-decoration : none;
	font-weight: bold;
}
.links{
	list-style : none;
	display : flex;
}
.links li{
	padding : 10px 30px;
}
.links li a{
	color :#000000;
	text-decoration : none;
	font-size :20px;
	transition : all 0.3s;
}
.links li a:hover{
	background : #66CCCC;
}
img{
	display:none;
}
.dropdown_menu{
	position : absolute;
	left: 0;
	width : 100%;
	padding: 0 30px;
	top : 100px;
	opacity : 0;
	visibility : hidden;
	z-index:3
}
.links li:hover .dropdown_menu{
	transition : all 0.7s;
	top : 124px;
	opacity :1;
	visibility : visible;
	
}
.content{
	background :#CCFFCC;
	border : 10px;
	padding : 25px 40px;
	display : flex;
	width : 100%;
	justify-content : space-between;
}
.main{
	width : 25%;
	line-height : 45px;
}
img{
	display : block;
	width : 100%;
	height : 100%;
	
}
.main p{
	font-size : 20px;
	font-weight : bold;
}
.mega_links{
	margin-left : -40px;
	border-left : 3px solid #000000;
}
.mega_links li{
	padding : 0 20px;
	list-style : none;
}
.mega_links li a{
	padding : 0 20px;
	font-size : 19px;
	display : inline-block;
	width : 80%;
}
.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  width:50px;
  height:40px;
  margin-left:100px;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 43%;
  width: 50%;
  display: none;
  position: absolute;
  z-index: 6;
  top: 110px;
  left: 613px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: absolute;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;

}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 19px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}
/* Nút tắt tìm kiếm*/
.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin-top:5px;
}

.overlay button:hover {
  background: #bbb;
}
/* Tạo tiêu đề*/
h1{
    text-align: center;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.8);
}
/* Chia đều các nội dung Grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.item{
  cursor: pointer;
}
.item :hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.item .modau:hover{
  color: #66CCCC;
}
.pic{
  width: 250px;
  height: 150px;
}
.text{
  width: 240px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 29px;
}
.new6{
  border: 2px solid #99FFFF;
  border-radius: 2px;
  width : 40px;
  margin-left: 25px;
}
.modau{
  margin-top: 15px;
  font-size: 15px;
  width: 222px;
  color: #5c5959;
  margin-left: 40px;
  
}
.Left{
    width: 70%;
    float: left;
}
.Right{
    width: 30%;
    float: right;
}
h2{
    text-align: center;
}
.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}
.badge:hover{
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
hr.new5 {
    border: 4px solid #99FFFF;
    border-radius: 2px;
    width : 40px;
    margin : 23px 10px;

}
.bai{
  height: 100px;
  margin: 20px 10px;
}
.phai{
  width: 190px;
  font-size: 14px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}
.phai :hover{
  color: #66CCCC;
}
.trai{
  float: left;
  width: 150px;
  height: 85px;
}
.trai :hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
hr.new1 {
  border-top: 1px solid rgb(163, 150, 150);
  width: 260px;
  margin-left: 10px;
}

/* scroll on top */
#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: solid;
  opacity: 0.5;
}

#top:hover {
  background-color: #05f7f7f5;
  transition: 1s;
}

/* FOOTER */
.logo{
	font-size:2em;
	
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("imp/v.jpg");
}

footer .containert{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .containert .noi-dung{
    margin-right: 30px;
}

footer  .containert .noi-dung.about{
    width:40%;
}
footer .containert .noi-dung.about h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .containert .noi-dung.about h3:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer .containert .noi-dung.about p{
    color: #999;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover{
    background: #f00;
}

.social-icon li a .fa{
    color: #FFF;
    font-size: 20px;
}

.linksb h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.linksb h3{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
.linksb h3::before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background: #f00;
 }
.linksb{
    position: relative;
    width: 25%;
 }
 .linksb ul li{
     list-style: none;
 }
 .linksb ul li a{
     color: #999;
     text-decoration: none;
     margin-bottom: 10px;
     display: inline-block;
 }
.linksb ul li a:hover{
     color: #fff;
 }

.contact h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

@media  (max-width: 768px){
    footer{
        padding: 40px;
        
    }
    footer .containert{
        flex-direction: column;
    }
    footer .containert .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .containert, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}
@keyframes filling {
  from{
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.container-text {
  background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #FFFFFF;
  padding-top: 20px;
  font-size: 90px;
  font-family: 'Bungee', cursive;
  animation: filling 3s ease forwards;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modall {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modall-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
html, body, .hello-parent {
  height: 100%;
  width: 100%;
  margin: 0;
}

.hello-parent {
  display: flex;
  background: #fff;
  background: -webkit-radial-gradient(#fff, #eaeaea); 
  background: -o-radial-gradient(#fff, #eaeaea); 
  background: -moz-radial-gradient(#fff, #eaeaea);
  background: radial-gradient(#fff, #eaeaea); 
}

.hello-word {
  margin:auto;
}
/* H Animation */

.H-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-left-move 20s ease forwards;
}

.H-mid-stroke {
  stroke-dasharray: 37px;
  stroke-dashoffset: 37px;
  animation: H-mid-move 9s ease forwards;
}

.H-right-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-right-move 13s ease forwards;
}

@keyframes H-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes H-mid-move {
  0% {
    stroke-dashoffset: 37px;
  }
  5% {
    stroke-dashoffset: 37px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes H-right-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 124px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* E Animation */

.E-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: E-left-move 20s ease forwards;
}

.E-top-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-top-move 10s ease forwards;
}

.E-mid-stroke {
  stroke-dasharray: 42px;
  stroke-dashoffset: 42px;
  animation: E-mid-move 10s ease forwards;
}

.E-bottom-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-bottom-move 10s ease forwards;
}

@keyframes E-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  6% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes E-top-move {
  0% {
    stroke-dashoffset: 47px;
  }
  6% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes E-mid-move {
  0% {
    stroke-dashoffset: 42px;
  }
  8% {
    stroke-dashoffset: 42px;
  }
  13% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes E-bottom-move {
  0% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 47px;
  }
  16% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* L One Animation */

.L-one-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-one-long-move 20s ease forwards;
}

.L-one-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-one-short-move 10s ease forwards;
}

@keyframes L-one-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  7% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes L-one-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  13% {
    stroke-dashoffset: 44px;
  }
  18% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* L Two Animation */

.L-two-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-two-long-move 20s ease forwards;
}

.L-two-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-two-short-move 10s ease forwards;
}

@keyframes L-two-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  3% {
    stroke-dashoffset: 124px;
  }
  8% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes L-two-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  15% {
    stroke-dashoffset: 44px;
  }
  20% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* O Animation */

.O-stroke {
  stroke-dasharray: 302px;
  stroke-dashoffset: 302px;
  animation: O-move 20s ease forwards;
}

@keyframes O-move {
  0% {
    stroke-dashoffset: 302px;
  }
  4% {
    stroke-dashoffset: 302px;
  }
  9% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* Red Dot Animation */

.red-dot {
  stroke-width: 44px;
  stroke-linecap: round;
  animation: red-dot-grow 8s ease-out forwards;
}

@keyframes red-dot-grow {
  0% {
    stroke-width: 0px;
  }
  15% {
    stroke-width: 0px;
  }
  20% {
    stroke-width: 44px;
  }
  100% {
    stroke-width: 44px;
  }
}